[submodule "PCB"]
	path = PCB
	url = https://github.com/alorman/4runner-Seat-Heat-PCB.git
[submodule "Code"]
	path = Code
	url = https://github.com/alorman/4Runner-Seat-Heat-Code.git
[submodule "4Runner-Seat-Heat-Case"]
	path = 4Runner-Seat-Heat-Case
	url = https://github.com/alorman/4Runner-Seat-Heat-Case.git
